@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
  
  .footer
  {
    background-color: #2c2c54;
    color: #ffffff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .navbar 
  {
    background-color: #2c2c54;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
  }

  .navbar a 
  {
    color: #ffffff;
    margin-left: 1em;
    text-decoration: none;
    transition: .5s;
    font-size: 25px;
  }

  .navbar a:hover
  {
    color: #61dafb;
    font-size: 30px;
  }